<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOme Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header class="border-2 shadow-sm p-8 text-xl flex justify-between">
    <a class="border-2 bg-green-500 py-1 px-3 rounded-md text-white" href="/users/register">Register</a>
    <a class="border-2 bg-green-500 py-1 px-3 rounded-md text-white" href="/users/login">Login</a>
  </header>

  <main>
    <section>
        <h1 class="text-center text-2xl mt-5 font-bold">Welcome to Assignment Level II</h1>
    </section>
  </main>
</body>
</html>
